@using JobFindingWebsite.ViewModels;
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<br />
<head>
    <link rel="stylesheet" href="/css/registerstyle.css">
</head>

<body>
    <div class="myForm-wrapper">
        <div class="title">
            Login Form
        </div>
        <form asp-action="Login" method="post">
            <div class="myForm-field">
                <input asp-for="Email" type="text" class="form-control" required>
                <label asp-for="Email">Email Address</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="myForm-field">
                <input asp-for="Password" type="password" class="form-control" required>
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="myForm-content">
                <div class="myForm-checkbox">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                <div class="myForm-pass-link">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
            <div class="myForm-field">
                <input type="submit" value="Sign in" class="btn custom-button">
            </div>
            <div class="myForm-pass-link" style="text-align: center; margin-top: 10px; font-size: 16.5px">
                <a asp-controller="Account" asp-action="Register">Don't have an account? Sign Up</a>
            </div>
        </form>
    </div>
</body>
